body {
    margin: 0;
        font-family: sans-serif;
    font-size: 16px;
    color: white;
    background-color: #424242;
}
a {
    color: white;
    text-decoration: none;
}
.page-header {
  background-color: #252525;
}
#header-title {
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}
.main-nav {
    display: flex;
    justify-content: center;
}
.page-header .main-nav .nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  margin: 0;
  width: 50%;
}
.page-header .main-nav .nav-list .nav-items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
}
.page-header .main-nav .nav-list .nav-items > a {
    text-decoration: none
}

.page-header .main-nav .nav-list .nav-items > a:active {
    text-decoration: underline;
}
.page-header .main-nav .nav-list .nav-items > a:hover:only-child {
    font-size: 120%;
    color: burlywood;
}
.page-header .main-nav .nav-list .nav-items:first-child > a {
    color: red;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.page-main {
    padding: 20px;
}
.page-main h2{
    margin-top: 10px;
}
.page-main section h2 {
    text-align: center;
    color: bisque;
}
#comments-figure {
    width: 500px;
    border: 2px solid #252525;
    padding: 10px;
}
#comments-figure h4 {
    text-align: center;
    margin: 0;
    padding: 8px;
}
.single-article h3 {
    color: cadetblue;
}
.type-table {
    border: 2px solid white;
   border-collapse: collapse;
    width: 450px;
    height: 200px;
}

.type-table th {
    border: 2px solid white;
   border-collapse: collapse;
    background-color: darkblue;
}

.type-table td {
    border: 2px solid white;
   border-collapse: collapse;
}
.page-aside figure{
    width: 400px;
    margin: 0;
}
.page-aside figure img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}
.page-footer {
    padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}